@import "tailwindcss";

@font-face {
  font-family: "Manuka";
  src: url('/fonts/Manuka-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manuka";
  src: url('/fonts/Manuka-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Manuka";
  src: url('/fonts/Manuka-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manuka";
  src: url('/fonts/Manuka-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manuka";
  src: url('/fonts/Manuka-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

.manuka-black {
  font-family: "Manuka", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.manuka-bold {
  font-family: "Manuka", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.manuka-light {
  font-family: "Manuka", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.manuka-regular {
  font-family: "Manuka", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Manuka", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Manuka", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ping-border {
  position: absolute;
  inset: -4px;
  border-radius: 0.5rem;
  border: 2px solid #32e2b1;
  pointer-events: none;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.ping-border-2 {
  position: absolute;
  inset: -8px;
  border-radius: 0.5rem;
  border: 2px solid #32e2b1;
  pointer-events: none;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.card-hover:hover .ping-border {
  animation: ping-border 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.card-hover:hover .ping-border-2 {
  animation: ping-border-2 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping-border {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  70% {
    transform: scale(1.03);
    opacity: 0.3;
  }

  100% {
    transform: scale(1.06);
    opacity: 0;
  }
}

@keyframes ping-border-2 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  70% {
    transform: scale(1.06);
    opacity: 0;
  }
}

.ping-button {
  position: absolute;
  inset: -4px;
  border-radius: 0.8rem;
  border: 2px solid #32e2b1;
  pointer-events: none;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.ping-button-2 {
  position: absolute;
  inset: -8px;
  border-radius: 0.8rem;
  border: 2px solid #32e2b1;
  pointer-events: none;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.button-hover:hover .ping-button {
  animation: ping-border 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.button-hover:hover .ping-button-2 {
  animation: ping-border-2 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}